<!DOCTYPE html>
<html>
  <head>
    <title>KEIO CUMPAS HACK</title>
  </head>

  <div class="header">
    <%= link_to "ユーザ一覧", users_path, class: "navbar-item button is-warning is-light", id: "user_list" %>
    <%if current_user.present?%>
      <%= link_to "投稿作成", new_post_path, class: "navbar-item button is-warning is-light", id: "make_post" %>
    <% end %>
  </div>
  <body>
  <%= render 'search' %>

    <h1 class="list">投稿一覧</h1>
    <div>
      <table class="list_content">
        <tr>
          <th>タイトル</th>
          <th>ジャンル</th>
          <th>投稿日</th>
          <th>リンク</th>
          <th>いいね！数</th>
          <th>コメント数</th>
        </tr>
        <% @posts.each do |post| %>
          <tr>
            <td style="text-align:center;"><%= link_to post.title, post_path(post), id: "post_title" %></td>
            <td style="text-align:center;"><%= post.genre %></td>
            <td style="text-align:center;"><%= post.created_at.strftime('%Y-%m-%d') %></td>
            <td><a href="<%= post.url %>"><%= post.url %></a></td>
            <td style="text-align:center;"><%= post.favorites.count %></td>
            <td><%= link_to "#{post.post_comments.count} コメント", post_path(post.id) %></td>
            <% if current_user.present? %>
              <%= render 'layouts/favorite_button', {post: post} %>
              <%= render 'layouts/bookmark_button', {post: post} %>
            <% end %>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="page">
    <%= paginate @posts %>
    </div>
  </body>
</html>
