<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <br>
    <%= link_to "ユーザ一覧", users_path, class: "navbar-item button is-warning is-light" %>
    <br>
    <%= link_to "投稿作成", new_post_path, class: "navbar-item button is-warning is-light" %>
    <h1>投稿一覧</h1>
    <table>
      <tr>
        <th>タイトル</th>
        <th>ジャンル</th>
        <th>投稿日</th>
        <th>いいね！数</th>
      </tr>
      <% @posts.each do |post| %>
        <tr>
          <td style="text-align:center;"><%= link_to post.title, post_path(post) %></td>
          <td style="text-align:center;"><%= post.genre %></td>
          <td style="text-align:center;"><%= post.created_at.strftime('%Y-%m-%d') %></td>
          <td style="text-align:center;"><%= post.favorites.count %></td>
          <% if current_user.present? %>
            <%= render 'favorite_button', {post: post} %>
          <% end %>
        </tr>
      <% end %>
    </table>
  </body>
  <%= paginate @posts %>
</html>
