<div class="header">
  <%= link_to "ユーザ一覧", users_path, class: "navbar-item button is-warning is-light", id: "user_list_2" %>
  <%= link_to "投稿一覧", posts_path, class: "navbar-item button is-warning is-light", id: "post_list_2" %>
</div>
<%= form_with model: @post, local: true do |f| %>

  <h1 class="display">投稿作成</h1>
  <div class="display_genre"><%= f.label :ジャンル %><br>
    <%= f.select :genre, [["選択して下さい"], ["生活"], ["授業"], ["技術"],["サークル"]] %>
  </div>
  
  <div class="display_title"><%= f.label :タイトル %><br>
    <%= f.text_field :title %>
  </div>
  
  <div class="display_body"><%= f.label :本文 %><br>
    <%= f.text_area :body %>
  </div>

  <div class="field">
    <%= f.label :url %>
    <%= f.text_field :url, :size => 140, id: "url"  %>
  </div>
  
  <div class="display_post"><%= f.submit "投稿する" %>
  </div>
  
<% end %>