<div class="header">
  <%= link_to "投稿一覧", posts_path, class: "navbar-item button is-warning is-light", id: "posts_list" %>
  <%if current_user.present?%>
  <% if @post.user_id == current_user.id %>
    <%= link_to "編集", edit_post_path(@post), id: "edit" %>
  <% end %>
  <% end %>
</div>

<div class="post_body"><%= @post.body %></div>
<div class="delete"
<% if @post.user_id == current_user.id %>
  <%= button_to "削除", post_path(@post), method: :delete, data: {confirm: "投稿を削除します。よろしいですか？"} %>
<% end %>
</div>

<div class="post_user_name"> 
  <%= link_to(@post.user.username, "/users/#{@post.user.id}")  %>さんのページ
</div>

<link rel="stylesheet" href="./app/assets/stylesheets/application.css">