<h1 class="display">編集画面</h1>
<%= form_for(@user, url: user_path(@user)) do |f| %>
<div class="field">
  <%= f.label :email, "メールアドレス" %><br />
  <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
</div>
<div class="display_username">
  <%= f.label :ユーザ名 %><br>
  <%= f.text_field :username, autofocus: true, :placeholder =>"#{@user.username}" %>
</div>
<div class="display_profile">
  <%= f.label :プロフィール %><br>
  <%= f.text_area :profile, :placeholder =>"#{@user.profile}" %>
</div>
<div class="display_profile">
  <%= f.label :管理者 %>
  <%= f.select :role, User.roles_i18n.invert, class: 'form-control' %>
</div>
<div class="display_image">
  <%= f.label :image %>
  <%= f.file_field :image, class:'f-control', accept: 'image/*'%>
  <%= f.hidden_field :image_cache %>
</div>
<div class="display_update">
  <%= f.submit "更新する" %>
</div>
<% end %>