<div class="header">
<%= link_to "ユーザ一覧", users_path, class: "navbar-item button is-warning is-light", id: "user_list_3" %>
<%= link_to "投稿一覧", posts_path, class: "navbar-item button is-warning is-light", id: "post_list_3" %>
</div>

<%= form_with model: @user, local: true do |form| %>

  <p class="display_mail"><%= form.label :メールアドレス %><br>
    <%= form.email_field :email, autofocus: true, autocomplete: "email" %>
  </p>
  
  <p class="display_username"><%= form.label :ユーザ名 %><br>
    <%= form.text_field :username %>
  </p>
  
  <p class="display_profile"><%= form.label :プロフィール %><br>
    <%= form.text_area :profile %>
  </p>
  
  <p class="display_register"><%= form.submit "登録する" %>
  </p>
  
<% end %>