<%= link_to "ユーザ一覧", users_path, class: "navbar-item button is-warning is-light" %>
<br>
<%= link_to "投稿一覧", posts_path, class: "navbar-item button is-warning is-light" %>

<%= form_with model: @user, local: true do |form| %>

  <p><%= form.label :メールアドレス %><br>
    <%= form.email_field :email, autofocus: true, autocomplete: "email" %>
  </p>
  
  <p><%= form.label :ユーザ名 %><br>
    <%= form.text_field :username %>
  </p>
  
  <p><%= form.label :プロフィール %><br>
    <%= form.text_area :profile %>
  </p>
  
  <p><%= form.submit "登録する" %>
  </p>
  
<% end %>