<div class="header">
  <%= link_to "投稿一覧", posts_path, class: "navbar-item button is-warning is-light", id: "post_list_5" %>
  <%= link_to "ユーザ一覧", users_path, class: "navbar-item button is-warning is-light", id: "user_list_5" %>
  <%if current_user.present?%>
  <% if @user.id == current_user.id %>
    <%= link_to "編集", edit_user_path(@user), id: "header_edit" %>
  <% end %>
  <% end %>
</div>

<div class="display_username">ユーザ名:<%= @user.username %></div>
<div class="display_mail">メールアドレス:<%= @user.email %></div>
<div class="display_profile">プロフィール:<%= @user.profile %></div>

<div class="display_delete">
  <% if current_user.present? %>
    <% if @user.id == current_user.id %>
    <%= button_to "削除", user_path(@user), method: :delete, data: {confirm: "投稿を削除します。よろしいですか？"} %>
    <% end %>
  <% end %>
</div>


<h1 class="list"><%= @user.username %>さんがいいねした投稿</h1>
    <table class="list_content">
      <tr>
        <th>タイトル</th>
      </tr>
      <% @posts.each do |post| %>
        <tr>
          <td style="text-align:center;"><%= link_to post.title, post_path(post), id: "post_title_2" %></td>
        </tr>
      <% end %>
    </table>
